# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# npm
*.lock
package-lock.jso
package-lock.json

# Logs and databases
*.log
*.sqlite
*.sqlite3
*.db
*.sql

# Dependencias de desarrollo
.env
.env.local
.env.test
.env.production

# Archivos de construcción
/build/
/dist/
/out/
/build-output/


# Archivos de sistema
.DS_Store
Thumbs.db
